@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MonoLisa";
    src: url("./assets/fonts/MonoLisa-Regular.woff2");
}

@font-face {
    font-family: "MonoLisaBold";
    src: url("./assets/fonts/MonoLisa-Bold.woff2");
}


@font-face {
    font-family: "Monaco";
    src: url("./assets/fonts/Monaco.woff");
}

@font-face {
    font-family: "Darlington";
    src: url("./assets/fonts/Darlington.woff2");
}
@font-face {
    font-family: "DarlingtonDemo";
    src: url("./assets/fonts/DarlingtonDemo.ttf");
}




body {
    @apply bg-background font-theme selection:bg-selectionBack relative w-full flex flex-col items-center;
}

div > .router-link-active {
    @apply bg-cyan-100 text-btn_text pb-2 pt-2 rounded-md;
}
